body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CustomInput {
  font-size: 18px;
}

.CustomInput label {
  display: block;
}

.CustomInput input {
  display: block;
  border-radius: 3px;
  padding: 2px 4px;
  min-width: 300px;

  font-size: 18px;
  line-height: 20px;
}